@font-face {
    font-family: 'IconForgeBrand';
    src:  url('../../icons/brand/iconforge-brand-v1.0.0.woff2') format('woff2'),
        url('../../icons/brand/iconforge-brand-v1.0.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="if-"], [class*=" if-"] {
  font-family: 'IconForgeBrand' !important;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.if-zoom:before {
  content: "\e900";
}
.if-zillow:before {
  content: "\e901";
}
.if-yt-music:before {
  content: "\e902";
}
.if-yahoo:before {
  content: "\e903";
}
.if-xbox:before {
  content: "\e904";
}
.if-wish:before {
  content: "\e905";
}
.if-wendys:before {
  content: "\e906";
}
.if-vlc:before {
  content: "\e907";
}
.if-venmo:before {
  content: "\e908";
}
.if-tinder:before {
  content: "\e909";
}
.if-tidal:before {
  content: "\e90a";
}
.if-tesla:before {
  content: "\e90b";
}
.if-steam:before {
  content: "\e90c";
}
.if-starbucks:before {
  content: "\e90d";
}
.if-square:before {
  content: "\e90e";
}
.if-sprite:before {
  content: "\e90f";
}
.if-spotify:before {
  content: "\e910";
}
.if-soundcloud:before {
  content: "\e911";
}
.if-skype:before {
  content: "\e912";
}
.if-rss:before {
  content: "\e913";
}
.if-playstation:before {
  content: "\e914";
}
.if-origin:before {
  content: "\e915";
}
.if-oracle:before {
  content: "\e916";
}
.if-of:before {
  content: "\e917";
}
.if-nzxt:before {
  content: "\e918";
}
.if-nike:before {
  content: "\e919";
}
.if-music:before {
  content: "\e91a";
}
.if-mcdonalds:before {
  content: "\e91b";
}
.if-lyft:before {
  content: "\e91c";
}
.if-logitech:before {
  content: "\e91d";
}
.if-logi:before {
  content: "\e91e";
}
.if-lg:before {
  content: "\e91f";
}
.if-lego:before {
  content: "\e920";
}
.if-jordan:before {
  content: "\e921";
}
.if-ios:before {
  content: "\e922";
}
.if-ibm:before {
  content: "\e923";
}
.if-hp:before {
  content: "\e924";
}
.if-hollister:before {
  content: "\e925";
}
.if-hinge:before {
  content: "\e926";
}
.if-hello-fresh:before {
  content: "\e927";
}
.if-h-m:before {
  content: "\e928";
}
.if-gucci:before {
  content: "\e929";
}
.if-google-pay:before {
  content: "\e92a";
}
.if-google:before {
  content: "\e92b";
}
.if-ge:before {
  content: "\e92c";
}
.if-figma:before {
  content: "\e92d";
}
.if-etsy:before {
  content: "\e92e";
}
.if-electron:before {
  content: "\e92f";
}
.if-ebay:before {
  content: "\e930";
}
.if-ea:before {
  content: "\e931";
}
.if-dell:before {
  content: "\e932";
}
.if-coca-cola:before {
  content: "\e933";
}
.if-cnn:before {
  content: "\e934";
}
.if-cloudflare:before {
  content: "\e935";
}
.if-cat:before {
  content: "\e936";
}
.if-canva:before {
  content: "\e937";
}
.if-burgerking:before {
  content: "\e938";
}
.if-blender:before {
  content: "\e939";
}
.if-blackberry:before {
  content: "\e93a";
}
.if-aws:before {
  content: "\e93b";
}
.if-asus:before {
  content: "\e93c";
}
.if-aseprite:before {
  content: "\e93d";
}
.if-apple:before {
  content: "\e93e";
}
.if-android:before {
  content: "\e93f";
}
.if-amd:before {
  content: "\e940";
}
.if-amazonmusic:before {
  content: "\e941";
}
.if-amazon:before {
  content: "\e942";
}
.if-aircanada:before {
  content: "\e943";
}
.if-airbnb:before {
  content: "\e944";
}
.if-ae:before {
  content: "\e945";
}
.if-adobe:before {
  content: "\e946";
}
.if-adidas:before {
  content: "\e947";
}