@font-face {
    font-family: 'IconForgeSocial';
    src:  url('../../icons/social/iconforge-social-v1.0.0.woff2') format('woff2'),
        url('../../icons/social/iconforge-social-v1.0.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="if-"], [class*=" if-"] {
  font-family: 'IconForgeSocial' !important;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.if-telegram:before {
  content: "\e900";
}
.if-trello:before {
  content: "\e901";
}
.if-slack:before {
  content: "\e902";
}
.if-wechat:before {
  content: "\e903";
}
.if-myspace:before {
  content: "\e904";
}
.if-bebo:before {
  content: "\e905";
}
.if-messenger:before {
  content: "\e906";
}
.if-pinterest:before {
  content: "\e907";
}
.if-discord:before {
  content: "\e908";
}
.if-digg:before {
  content: "\e909";
}
.if-stumbleupon:before {
  content: "\e90a";
}
.if-linkedin:before {
  content: "\e90b";
}
.if-medium:before {
  content: "\e90c";
}
.if-tiktok:before {
  content: "\e90d";
}
.if-flickr:before {
  content: "\e90e";
}
.if-dribbble:before {
  content: "\e90f";
}
.if-deviantart:before {
  content: "\e910";
}
.if-behance:before {
  content: "\e911";
}
.if-wordpress:before {
  content: "\e912";
}
.if-reddit:before {
  content: "\e913";
}
.if-stackoverflow:before {
  content: "\e914";
}
.if-snapchat:before {
  content: "\e915";
}
.if-twitch:before {
  content: "\e916";
}
.if-tumblr:before {
  content: "\e917";
}
.if-youtube:before {
  content: "\e918";
}
.if-x:before {
  content: "\e919";
}
.if-whatsapp:before {
  content: "\e91a";
}
.if-threads:before {
  content: "\e91b";
}
.if-instagram:before {
  content: "\e91c";
}
.if-facebook:before {
  content: "\e91d";
}