/* Sizes */
.is-size-xs { font-size: 0.75rem; }
.is-size-sm { font-size: 0.875rem; }
.is-size-md { font-size: 1rem; }
.is-size-lg { font-size: 1.25rem; }
.is-size-xl { font-size: 1.5rem; }
.is-size-2xl { font-size: 2rem; }
.is-size-3xl { font-size: 3rem; }
.is-size-4xl { font-size: 4rem; }
.is-size-5xl { font-size: 5rem; }
.is-size-6xl { font-size: 6rem; }
.is-size-7xl { font-size: 7rem; }
.is-size-8xl { font-size: 8rem; }

/* Height/Width */
/* Height */
.is-h-auto { height: auto; }
.is-h-fit { height: fit-content; }
.is-h-min { height: min-content; }
.is-h-max { height: max-content; }
.is-h-full { height: 100%; }
.is-h-three-quarter { height: 75%; }
.is-h-half { height: 50%; }
.is-h-quarter { height: 25%; }

/* Width */
.is-w-auto { width: auto; }
.is-w-fit { width: fit-content; }
.is-w-min { width: min-content; }
.is-w-max { width: max-content; }
.is-w-full { width: 100%; }
.is-w-three-quarter { width: 75%; }
.is-w-half { width: 50%; }
.is-w-quarter { width: 25%; }

/* Rotation */
.is-rot-90 { rotate: 90deg; }
.is-rot-180 { rotate: 180deg; }
.is-rot-270 { rotate: 270deg; }
.is-rot-360 { rotate: 360deg; }

.is-flip-v { transform: scaleX(-1); }
.is-flip-h { transform: scaleY(-1); }