@font-face {
  font-family: 'IconForge';
  src:  url('../../fonts/socialicons/iconforge-social-v1.0.0.woff2') format('woff2'),
        url('../../fonts/socialicons/iconforge-social-v1.0.0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="if-social-"], [class*=" if-social-"] {
  font-family: 'IconForge' !important;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.if-social-telegram:before {
  content: "\e900";
}
.if-social-trello:before {
  content: "\e901";
}
.if-social-slack:before {
  content: "\e902";
}
.if-social-wechat:before {
  content: "\e903";
}
.if-social-myspace:before {
  content: "\e904";
}
.if-social-bebo:before {
  content: "\e905";
}
.if-social-messenger:before {
  content: "\e906";
}
.if-social-pinterest:before {
  content: "\e907";
}
.if-social-discord:before {
  content: "\e908";
}
.if-social-digg:before {
  content: "\e909";
}
.if-social-stumbleupon:before {
  content: "\e90a";
}
.if-social-linkedin:before {
  content: "\e90b";
}
.if-social-medium:before {
  content: "\e90c";
}
.if-social-tiktok:before {
  content: "\e90d";
}
.if-social-flickr:before {
  content: "\e90e";
}
.if-social-dribbble:before {
  content: "\e90f";
}
.if-social-deviantart:before {
  content: "\e910";
}
.if-social-behance:before {
  content: "\e911";
}
.if-social-wordpress:before {
  content: "\e912";
}
.if-social-reddit:before {
  content: "\e913";
}
.if-social-stackoverflow:before {
  content: "\e914";
}
.if-social-snapchat:before {
  content: "\e915";
}
.if-social-twitch:before {
  content: "\e916";
}
.if-social-tumblr:before {
  content: "\e917";
}
.if-social-youtube:before {
  content: "\e918";
}
.if-social-x:before {
  content: "\e919";
}
.if-social-whatsapp:before {
  content: "\e91a";
}
.if-social-threads:before {
  content: "\e91b";
}
.if-social-instagram:before {
  content: "\e91c";
}
.if-social-facebook:before {
  content: "\e91d";
}